*{
	margin: 0 auto;
	padding: 0;
}

body{
	background: lightgrey;
	font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid{	
	width: 100%;
	text-align: center;
}

header, nav, div, section, article{
	width: 100%;
}

article{
	height: auto;
}

#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    color: #000000;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
}


.menu{
	background: #2614cc;
	width: 100%;
	height: 40px;
}

/*Strip the ul of padding and list styling*/
.menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
.menu li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
.menu li a {
	display:block;
	min-width:160px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #4732FF;
	text-decoration: none;
}

/*Hover state for top level links*/
.menu li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
.menu li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
.menu li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
.menu li ul {
	display: none;
}

/*Make dropdown links vertical*/
.menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.menu li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
.menu ul li a:hover + .hidden-menu, .menu .hidden-menu:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu-bar{
    display: block;
}

.banner{
	background: #2614cc;
	width: 100%;
	height: 200px;
}

.bannerAdius{
	background-color: #33ff19;
	height:200px;
	border-radius: 100% 0px 0px 0px;
	-moz-border-radius: 100% 0px 0px 0px;
	-webkit-border-radius: 100% 0px 0px 0px;
	border: 0px none #33ff19;
}

.bannerAdius h1{
	font-size: 300%;
	font-weight: 500;
	color: #ffffff;
	padding-top: 50px;
	padding-left: 100px;
}

.bannerAdius h1 a, h1 a:hover{
	color: #ffffff;
	text-decoration: none;
}

.main-content{
	background: #ffffff;
	vertical-align: top;
}

.theme, .theme-1{
	min-height: 150px;
	width: 96%;
	padding: 10px;
	margin: 0 auto;
}

.theme-1{
	min-height: 600px;
}

#row-1, #row-2, #row-3{
	min-height: 145px;
	padding: 10px;	
	display: inline-block;
}

#row-th-1, #row-th-2, #row-th-3{
    min-height: 235px;   
	padding: 10px;	
	display: inline-block;
}

#row-1{
	background: #ff6400;
}

#row-2{
	background: #2614cc;
}

#row-3{
	background: #33ff19;
}

.col-theme{
	color: #ffffff;
	text-align: left;
}

.col-theme p {
	text-align: justify;
}

.col-theme h1{
	font-size: 24pt;
	height: 50px;
}

.opaque-row-1{
	background: rgba(255, 100, 0, 0.5) !important;
}

.opaque-row-2{
	background: rgba(38, 20, 204, 0.5) !important;
}

.opaque-row-3{
	background: rgba(51, 255, 25, 0.5) !important;
}

.no-opaque-row-1{
	color: rgba(0, 0, 0, 1);
}

.rounded{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.home-thumb img:hover {
  transform: scale(1.1);
}

.center-me {
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.left-me {
  	text-align: left;
}

#about-1, #about-2{
	padding: 10px;
}

.profile{
	min-width: 200px;	
	min-height: 200px;
	max-width: 400px;
	max-height: 400px;
}

/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	.menu ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.menu li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.menu ul li, .menu li a {
		width: 100%;
	}

	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}